<!--header-->
<div *ngIf="!isLoginPage">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"> | Prime Biz Buddy | </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="billing">Billing</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="services">Services</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="items">Items</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="pricing">Pricing</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="master-data">Master Data</a>
        </li>
      </ul>
    </div>
    <span *ngIf="loggedUserName" class="navbar-text">
      {{ loggedUserName }} | <a href="#" (click)="onLogout()">Logout</a>
  </span>
  </nav>
</div>

<!--content-->
<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
